<div class="row">
	<div class="span6 offset3">
		<div class="well">
			<p>
			  <%= @pedal.title %>
			</p>
			<p>
			  <%= @pedal.rating %>
			</p>
			<p>
			  <%= @pedal.price %>
			</p>
				<p>
			  <%= @pedal.user.name %>
			</p>
			<% if current_user == @pedal.user %>
				<%= link_to 'Edit', edit_pedal_path(@pedal) %> |
			<% end %>
			<%= link_to 'Back', pedals_path %>
		</div>
	</div>
</div>


